<ion-view view-title="Flash Light" hide-back-button="false">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        Flash light can be accessed through this plugin.
      </div>
    </div>
    <button class="button button-block button-positive" ng-click="flashLight.switchOn()">
      Flash Light On
    </button>
    <button class="button button-block button-positive" ng-click="flashLight.switchOff()">
      Flash Light Off
    </button>
    <button class="button button-block button-positive" ng-click="flashLight.toggle()">
      Flash Light Toggle
    </button>
  </ion-content>
</ion-view>
