<ion-view view-title="Device" hide-back-button="false">
  <ion-content>

    <div class="card">
      <div class="item item-text-wrap">
        Grab device related information, such as platform, and device model.
      </div>
      <div class="item item-text-wrap para">
        {{device.device}}
      </div>
      <div class="item item-text-wrap para">
        {{device.cordova}}
      </div>
      <div class="item item-text-wrap para">
        {{device.model}}
      </div>
      <div class="item item-text-wrap para">
        {{device.platform}}
      </div>
      <div class="item item-text-wrap para">
        {{device.uuid}}
      </div>
      <div class="item item-text-wrap para">
        {{device.version}}
      </div>


    </div>
  </ion-content>
</ion-view>
