<ion-view view-title="Dialogs" hide-back-button="false">
  <ion-content>

    <div class="card">
      <div class="item item-text-wrap">
        Trigger alert, confirm, and prompt windows, or send beeps (beep, beep!)
      </div>

      <button class="button button-block button-positive" ng-click="dialogs._alert()">
        Alert
      </button>
      <button class="button button-block button-positive" ng-click="dialogs._confirm()">
        Confirm
      </button>
      <button class="button button-block button-positive" ng-click="dialogs._prompt()">
        Prompt
      </button>
      <button class="button button-block button-positive" ng-click="dialogs._beep()">
        Beep
      </button>


    </div>
  </ion-content>
</ion-view>
