<ion-view view-title="Social Sharing" hide-back-button="false">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        Share images, text, messages via Facebook, Twitter, Email, SMS, WhatsApp, etc using this plugin.
      </div>
    </div>
    <button class="button button-block button-positive" ng-click="socialSharing.shareViaNativeShareSheet()">
      Share Via Native Share Sheet
    </button>
    <button class="button button-block button-positive" ng-click="socialSharing.shareViaTwitter()">
      Share Via Twitter
    </button>
    <button class="button button-block button-positive" ng-click="socialSharing.shareViaWhatsApp()">
      Share Via What's App
    </button>
    <button class="button button-block button-positive" ng-click="socialSharing.shareViaFacebook()">
      Share Via Facebook
    </button>
    <button class="button button-block button-positive" ng-click="socialSharing.shareViaSMS()">
      Share Via SMS
    </button>
    <button class="button button-block button-positive" ng-click="socialSharing.shareViaEmail()">
      Share Via Email
    </button>
    <button class="button button-block button-positive" ng-click="socialSharing.canShareVia()">
      Check Can Share Via
    </button><br>

  </ion-content>
</ion-view>

