<ion-view view-title="Social Sharing" hide-back-button="false">
  <ion-content>
    <button class="button button-block button-positive" ng-click="socialSharing.shareViaNativeShareSheet()">
      Share Via Native Share Sheet
    </button>
    <button class="button button-block button-positive" ng-click="socialSharing.shareViaTwitter()">
      Share Via Twitter
    </button>
    <button class="button button-block button-positive" ng-click="socialSharing.shareViaWhatsApp()">
      Share Via What's App
    </button>
    <button class="button button-block button-positive" ng-click="socialSharing.shareViaFacebook()">
      Share Via Facebook
    </button>
    <button class="button button-block button-positive" ng-click="socialSharing.shareViaTwitter()">
      Share Via SMS
    </button>
    <button class="button button-block button-positive" ng-click="socialSharing.shareViaTwitter()">
      Share Via Email
    </button>

  </ion-content>
</ion-view>

