<ion-view view-title="Camera" hide-back-button="false">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        This service makes it easy to use the cordova-plugin-camera plugin to take pictures and video from a device.
        NOTE: The camera API only works on a real device, and not in the emulator.
      </div>
    </div>

    <button class="button button-block button-positive" ng-click="camera.getPicture()">
      Take an snap!
    </button>

    <div class="item item-body" ng-hide="camera.imgStatus">
      <img class="full-image" id="myImage">
    </div>


  </ion-content>
</ion-view>
