<ion-view view-title="Image Picker" hide-back-button="false">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        Cordova Plugin For Multiple Image Selection - implemented for iOS and Android 4.0 and above.
      </div>
      <button class="button button-block button-positive" ng-click="imagePicker.imageGet()">
        Get Picture
      </button>
      <div class="item item-image" ng-repeat="img in imagePicker.imagesURI">
        <img ng-src="{{img}}">
      </div>

    </div>
  </ion-content>
</ion-view>
